@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Raleway/raleway-v22-latin_cyrillic-regular.woff')
    format('woff');
}

* {
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html_width,
.body_width {
  height: 0;
  min-width: fit-content;
}

.fixed__container_size {
  position: relative;
  max-width: 2560px;
  min-width: 263px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-container_padding {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.center_container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-align: center;
}
