.auth_container_style {
  float: right;
  margin: 1% auto;
  /* margin: 10px; */
  /* width: 150px; */
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.auth_text_style {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.1rem + 1vw);
  color: white;
  line-height: 21px;
}

.avatar_style {
  border: 2px solid #e7e7e7;
  border-radius: 50px;
}

.button-sign-in__style {
  height: max-content;
  margin: 5% 1em;
  padding: 5px;
  /* margin-top: 5%; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #e7e7e7;
  background-color: transparent;
}

.button-sign-in__style:hover {
  color: #3b3b3b;
  background-color: white;
}
