.button_decor {
  color: #3b3b3b;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button__back_style {
  padding: 16px 32px;
  border: 2px solid #e7e7e7;
  background-color: #e7e7e7;
  font-size: 18px;
}

.button__back_style:hover {
  background-color: white;
}

.button__up_style {
  position: fixed;
  right: 1%;
  bottom: 1%;
  padding: 10px 10px;
  border: 2px solid hsla(0, 0%, 100%, 0.9);
  background-color: hsla(0, 0%, 100%, 0.9);
  font-size: 30px;
  line-height: 0;
}

.button__up_style:hover {
  background-color: #e7e7e7;
}
