.header__container {
  height: max-content;
}

.gray__block {
  background-color: #3b3b3b;
}

.header_h3__text-style {
  margin: 0 auto;
  width: max-content;
  padding: 25px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: calc(1rem + 10vw);
  color: white;
}
