.header__container {
  height: -webkit-max-content;
  height: -moz-max-content;
  max-height: 90px;
}

.gray__block {
  background-color: #3b3b3b;
}

.header_h3__text-style {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: calc(1rem + 4vw);
  color: white;
  letter-spacing: 3vw;
}

@media (min-width: 2100px) {
  .header_h3__text-style {
    font-size: calc(1rem + 2vw);
  }
}

@media (min-width: 1761px) {
  .header_h3__text-style {
    font-size: calc(1rem + 3vw);
  }
}

@media (max-width: 900px) {
  .header__container {
    height: 60px;
  }
  .header_h3__text-style {
    letter-spacing: 2vw;
  }
}

@media (max-width: 572px) {
  .header_h3__text-style {
    letter-spacing: 0;
    padding-top: 1.5vw;
  }
}
