.post_padding-top_10 {
  position: relative;
  padding-top: 10px;
}

.post__publish_container {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: hsla(0, 0%, 100%, 0.9);
  cursor: default;
  text-align: left;
}

.post_text_style {
  display: block;
  color: #3b3b3b;
  text-decoration: none;
}

.post_text_size_18 {
  font-size: 18px;
}
.post_text_size_12 {
  font-size: 12px;
}

.post_text_margin {
  margin: 2px 1vw;
}

.flaticon-like_font_18 {
  font-size: 18px;
}

.flaticon-like_cursor {
  cursor: pointer;
}

.flaticon-like_color_red {
  color: red;
}

@media (min-width: 768px) {
  .post_container {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }
}
