.post_container{
	width: max-content;
	margin: 30px auto;
	border: 1px solid #dbdbdb;
	padding: 16px;
}

.flaticon-heart_style{
	cursor: pointer;
	margin-right: 5px;
}


.flaticon-like_style{
	background: linear-gradient(130deg, #ff000061, #ff0000);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text; 
	cursor: pointer;
	margin-right: 5px;
}

.publish_style{
	font-size: 14px;
}

.flex-container{
	display: flex;
}

.user_link{
	display: block;
}