/* raleway-regular - latin_cyrillic */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Raleway/raleway-v22-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-600 - latin_cyrillic */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Raleway/raleway-v22-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Raleway/raleway-v22-latin_cyrillic-600.svg#Raleway') format('svg'); /* Legacy iOS */
  }

.html, .body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	height: 0;
}

.fixed-container {
    /*width: 960px;*/
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.header_h3__style{
	text-align: center;
	margin: 30px auto;
	width: 273px;
	height: 56px;
	/* left: 583px;
	top: 30px; */

	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	
	color: #3B3B3B;
}

.nav-bar__style{
	display: flex;
    justify-content: space-evenly;
}

.nav-bar__a_style{
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 24px;
	line-height: 28px;

	color: #3B3B3B;
}

.text_center{
	text-align: center;
    margin: 10px 0;	
}

.line{
	margin: 0;
}

.footer_container{
	height: 500px;
}